#external { 
	color:yellow; 
	font-style: arial;
}

h1{ color:black;
	font-family: Arial; 
	font-size: 25;
}

#things-to-learn {
	text-transform: uppercase;
	font-family: Arial;
	font-size: 15px;
}

#languages {
	font-family: Arial;
	font-size: 14px;
}

ol{
	list-style-type: order;
}

.languages-to-learn {
	background-color: lightgreen;
	font-family: arial;
}

#tools {
	font-family: arial;
	font-size: 14px;
}

.tools-to-use{
	font-family: arial;
}

li[required] {
	border: 1px solid darkblue;
}



h4{
	font-family: Arial;
	font-size: 14px;
	 }
h4 + img + ul {
	list-style-type: none;
}
h4 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

section > ul > li { 
	font-family:courier; letter-spacing:10px;
}

.webdev {
	font-color: black;
	text-align: center;
	font-family: arial;
}